/* reference: https://cssgradient.io/swatches/ */
.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background: linear-gradient(180deg, #a8c0ff 0%, #3f2b96 100%);
  padding: 1em 2em;
}

@media only screen and (max-width: 1024.02px) {
  .App {
    height: 150vh;
  }
}

.App__Header {
  width: 100%;
  text-align: left;
  font-family: 'Raleway', 'Nunito Sans', sans-serif;
  font-size: clamp(1.5rem, 2.4rem, 2.7rem);
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: bolder;
  margin: 1em auto 0.5em auto;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.App__Context {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

@media only screen and (max-width: 690.02px) {
  .App__Context {
    display: block;
  }
  .App__Form {
    margin-top: 6%;
    border-top: 1px solid #c3c3c3;
    padding-top: 1em;
  }
}

.App__Context > .App__Description > p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: clamp(0.95rem, 1.04rem, 1.09rem);
  color: #ffffff;
  line-height: 34px;
  letter-spacing: 0.17px;
  margin-bottom: 1rem;
}

.App__Context > .App__Description > p > strong {
  color: #3f2b96;
}

.App__Context > .App__Description > p > a {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: clamp(0.95rem, 1.05rem, 1.1rem);
  color: #ffffff;
  line-height: 33px;
  letter-spacing: 0.15px;
  text-decoration-line: underline;
}

.App__Context > .App__Description > p > a:hover {
  color: #3f2b96;
  transition-duration: 0.1s;
}

.App__Form > .App__Form__Result {
  font-family: 'Rubik', sans-serif;
  font-family: 400;
  font-size: clamp(0.9rem, 1rem, 1.05rem);
  color: #ffffff;
  line-height: 33px;
}

.App__Form > .App__Form__Input > form > textarea {
  resize: none !important;
  width: 100% !important;
  max-width: 100% !important;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: clamp(0.9rem, 0.95rem, 1.2rem);
  color: #383d85;
  padding: 13px;
  border-radius: 10px;
  background-color: #f8f3fcd4;
  margin-top: 9.5px;
  /* Reference: https://tobiasahlin.com/blog/layered-smooth-box-shadows */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
}

.App__Form > .App__Form__Input > form > .App__Form__Radio {
  display: grid;
  /* Reference: https://dev.to/afif/build-your-responsive-website-without-media-query-omj */
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      clamp(
        clamp(
          100%/ (2 + 1) + 0.1%,
          (823.02px - 100vw) * 1000,
          100%/ (2 + 1) + 0.1%
        ),
        (700.02px - 100vw) * 1000,
        100%
      ),
      1fr
    )
  );
  gap: 5px;
  margin-top: 6px;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(0.89rem, 0.91rem, 0.95rem);
  font-family: 400;
  color: #ffffff;
}

.App__Form
  > .App__Form__Input
  > form
  > .App__Form__Radio
  > .App__Form__Radio__Option {
  display: flex;
  align-items: center !important;
  padding-left: 0;
}

.App__Form
  > .App__Form__Input
  > form
  > .App__Form__Radio
  > .App__Form__Radio__Option
  > input[type='radio'] {
  margin-left: 0;
  margin-right: 8px;
  margin-top: 0;
}

.App__Form > .App__Form__Input > form > textarea:focus {
  outline-color: #515ada !important;
  outline-width: 1px !important;
}

.App__Form > .App__Form__Input > form > button {
  margin-top: 0.7em;
  width: 150px;
  font-family: 'Rubik', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  border-radius: 10px;
  outline: none !important;
  border: none !important;
  padding: 0.9em 1.4em;
  border-radius: 8px;
  background-color: #5643cc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
  color: #f8f3fc;
  cursor: pointer;
  appearance: button;
  touch-action: manipulation;
}

.App__Form > .App__Form__Input > form > button:hover {
  background-color: #3b2c9e;
  transition-duration: 0.2s;
}

.App__Form > .App__Form__Input > form > button:disabled {
  background-color: #484848 !important;
  transition-duration: 0.2s;
  cursor: wait;
}

.App__Footer {
  margin-top: 2em;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(0.7rem, 0.75rem, 0.95rem);
  text-align: center;
  color: #ffffff;
}

/* * Media Queries for Responsiveness * */
@media only screen and (max-width: 600.02px) {
  .App {
    height: 100% !important;
  }

  .App__Context {
    grid-template-columns: 1fr;
    row-gap: 2em;
  }

  .App__Footer {
    margin-top: 8em;
  }
}

@media only screen and (max-width: 823.02px) and (orientation: landscape) {
  .App {
    height: 100% !important;
  }

  .App__Footer {
    margin-top: 10em;
  }
}

@media only screen and (max-width: 1024.02px) and (max-height: 600.02px) and (orientation: landscape) {
  .App {
    height: 100% !important;
  }

  .App__Footer {
    margin-top: 7em;
  }
}
